extends ../layout

block content
 .ui.segment
        .ui.breadcrumb
            a.section 球队
            i.right.chevron.icon.divider
            .active.section 列表

.ui.selection.list
    .item
        //img.ui.avatar.image(src='/images/avatar/small/helen.jpg')
        .content
            .header
                | 名称  口号
            .description
                | 美丽的才说大朋友 的打算地方信息哈哈的法速度`
    .item
        //img.ui.avatar.image(src='/images/avatar/small/christian.jpg')
        .content
            .header Christian
            .description
                | 美丽的才说大朋友 的打算地方信息哈哈的法速度`
    .item
        //img.ui.avatar.image(src='/images/avatar/small/daniel.jpg')
        .content
            .header Daniel
            .description
                | 美丽的才说大朋友 的打算地方信息哈哈的法速度`
