extends ../layout

block content
    .ui.segment
        .ui.breadcrumb
            a.section 用户
            i.right.chevron.icon.divider
            .active.section 登陆
    form(class="ui form segment",method="post",action="login")
        .field
            label 电子邮件
            .ui.left.icon.input
                input(placeholder='请输入注册电子邮件', type='email',name="user_name")
                i.user.icon
        .field
            label 登陆密码
            .ui.left.icon.input
                input(type='password',name="user_password")
                i.lock.icon
        .ui.blue.submit.button 登陆
